<h2 class="gallery-breadcrumbs">
  {{$ctx := .}}
  {{range $index, $page := .Parents}}
  {{if $index}}
  &raquo;
  {{end}}
  <a href="{{.Path}}" {{view_attribute "title" .Title}}>{{.Contents|html}}</a>
  {{end}} {{/*range $index, $page := .*/}}
  {{if $ctx.Last.Contents}}
  {{if .Parents}}
  &raquo;
  {{end}}
  <span {{view_attribute "title" $ctx.Last.Title}}>{{$ctx.Last.Contents|html}}</span>
  {{end}}
</h2>
