{{template "navbar" .Context}}
<div class="media-item page clearfix">
  <div id="externalasset-title">
    <h2>{{.Entry.Curr.Title|html}}</h2>
  </div>
  <div class="entry" id="gallery-item">
    {{.Asset}}
  </div>
  <div id="details">
    {{if .Section.IsRanked}}
    <p>TODO placement info</p>
    {{end}}
    {{if .Entry.Curr.Description}}
    <p>
      {{.Entry.Curr.Description}}
    </p>
    {{end}}
    {{if .Entry.Curr.Author}}
    <p>
      Author: {{.Entry.Curr.Author|html}}
    </p>
    {{end}}

    {{range $index, $external_link_section := .Entry.Curr.ExternalLinks}}
    <div class="section">
      <h3 class="section-title">{{$external_link_section.Name|html}}</h3>
      <div>
        {{range $index, $external_link := $external_link_section.Links}}
        <a href="{{$external_link.Href|html}}">{{$external_link.Contents|html}}</a> {{$external_link.Notes|html}}
        {{end}}
      </div>
    </div>
    {{end}}
  </div>
</div>
