{{template "navbar" .Context}}

{{/* . is type of []*site.MainContext */}}
<p>
  Welcome to Assembly Archive.
  See a <a href="{{.Context.SiteRoot}}/description">longer description</a> about this service.</p>
{{$ctx := .}}
{{range $index, $element := .Galleries}}
<div class="mediacategory">
  <h2 class="gallery-name"><a href="{{$element.Path|html}}"><span>{{$element.Title|html}}</span>
  » <span class="grayed smaller">(random selection)</span></a></h2>
  <div class="mediaitemlisting">
    {{template "thumbnails" $element.Entries}}
  </div>
</div>
{{end}} {{/* range $index, $element := .Galleries */}}
