<nav class="navigation clearfix">

  {{if .Navigation.Next.Contents}}
  <a class="grid_3 left gallery-navigation-link"
     id="gallery-link-next"
     {{view_attribute "title" .Navigation.Next.Title}}
     href="{{.Navigation.Next.Path}}">
    &laquo; {{(view_cut_string .Navigation.Next.Contents 22)|html}}
  </a>
  {{else}}
  <span class="grid_3 left gallery-navigation-link">&nbsp;</span>
  {{end}}

  <div class="hide-mobile">
    {{if or .Breadcrumbs.Parents .Breadcrumbs.Last.Contents}}
    {{template "breadcrumbs" .Breadcrumbs}}
    {{end}}
  </div>

  {{if .Navigation.Prev.Contents}}
  <a class="grid_3 right gallery-navigation-link"
     id="gallery-link-prev"
     {{view_attribute "title" .Navigation.Prev.Title}}
     href="{{.Navigation.Prev.Path}}">
    {{(view_cut_string .Navigation.Prev.Contents 22)|html}} &raquo;
  </a>
  {{else}}
  <span class="grid_3 left gallery-navigation-link">&nbsp;</span>
  {{end}}

</nav>
