{{template "navbar" .Context}}

<div class="item-description">
{{/* No |html escape in here*/}}
<p>{{.Section.Curr.Description}}</p>
</div>

<div class="media-index page clearfix">
  {{template "thumbnails" .Section.Curr.Entries}}
</div>
