{{template "navbar" .Context}}

<div class="item-description">
{{/* No |html escape in here*/}}
<p>{{.Section.Curr.Description}}</p>
</div>

<div class="media-index page clearfix">
  {{template "thumbnails" .DisplayEntries}}
</div>

{{template "navbar" (mod_context_replace_navigation .Context .OffsetNavigation)|mod_context_no_breadcrumbs}}
