{{/* . is type of site.DisplayEntries */}}
{{define "thumbnails"}}
{{$ctx:=.}}
{{range $col, $element := .Entries}}
<div class="video overview-thumbnail-{{$col}}">
  <a class="thumbnail"
     href="{{.Path|html}}"
     title="{{.|view_author_title}}"
     >
    {{/* TODO näytä useita thumbnail-vaihtoehtoja? */}}
    {{$thumbnail := .Thumbnails.Default}}
    <picture>
      {{view_image_srcset .Thumbnails.Sources}}
      <img class="thumbnail-image"
           src="{{$thumbnail.Path|html}}?{{$thumbnail.Checksum}}"
           alt="{{.|view_author_title}}"
           width="{{$thumbnail.Size.X}}"
           height="{{$thumbnail.Size.Y}}"
           />
    </picture>
    {{view_cut_string .Title 37|html}}
    {{if .Author}}
    <span class="by">{{view_cut_string .Author 25|html}}</span>
    {{end}}
    </a>
</div>
{{else}}
Help! We have nothing in here!
{{end}} {{/* range $col, $element := .Entries */}}
{{end}} {{/* define "thumbnails" */}}
