{{/* . is type of []*base.EntryInfo */}}
{{define "thumbnails"}}
{{range $index, $element := .}}
<div class="video overview-thumbnail-{{$index}}">
  <a class="thumbnail" href="{{.Path|html}}">
    {{/* TODO näytä useita thumbnail-vaihtoehtoja? */}}
    {{$thumbnail := .Thumbnails.Default}}
    <picture>
      <img class="thumbnail-image"
           src="{{$thumbnail.Path|html}}?{{$thumbnail.Checksum}}"
           alt="{{.|view_author_title}}"
           title="{{.|view_author_title}}"
           width="{{$thumbnail.Size.X}}"
           height="{{$thumbnail.Size.Y}}"
           />
    </picture>
    {{view_cut_string .Title 37|html}}
    {{if .Author}}
    <span class="by">{{view_cut_string .Author 25|html}}</span>
    {{end}}
    </a>
</div>
{{else}}
Help! We have nothing in here!
{{end}} {{/* range $index, $element := .Entries */}}
{{end}} {{/* define "thumbnails" */}}
