{{template "navbar" .Context}}

{{/* . is type of []*site.YearContext */}}
{{$ctx := .}}

{{/* TODO navigaatioon nämä */}}
{{if $ctx.Year.Next}}
<a href="{{$ctx.Year.Next.Path}}">{{$ctx.Year.Next.Key}}</a>
{{end}}
{{if $ctx.Year.Prev}}
<a href="{{$ctx.Year.Prev.Path}}">{{$ctx.Year.Prev.Key}}</a>
{{end}}

{{range $index, $element := .Galleries}}
<div class="mediacategory">
  <h2 class="gallery-name"><a href="{{$element.Path|html}}"><span>{{$element.Title|html}}</span></h2>
  <div class="mediaitemlisting">
    {{template "thumbnails" $element.Entries}}
  </div>
</div>
{{end}}
