{{template "navbar" .Context}}

{{/* . is type of []*site.YearContext */}}

{{range $index, $element := .Galleries}}
<div class="mediacategory">
  <h2 class="gallery-name"><a href="{{$element.Path|html}}"><span>{{$element.Title|html}}</span></h2>
  <div class="mediaitemlisting">
    {{template "thumbnails" $element.Entries}}
  </div>
</div>
{{end}}
